@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ruslan+Display&display=swap');

.p1 {color:wheat;
    font-family: 'Ruslan Display', cursive;
    font-size: 50рх;
text-align:center;
}
.p2 {color:red;
    font-family: 'Lobster', cursive;
    font-size: 48px;
    text-align:center;
    position: absolute;
    bottom: 15px;
}

html {background:url(images/Moroz.png)no-repeat center center;
    min-height:100%;
    background-size:cover;
     } 
    
    